@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,500;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@400;600&family=Sedgwick+Ave+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,500;0,600;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,600;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@400;600&family=Sedgwick+Ave+Display&display=swap');@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Calistoga&family=Luckiest+Guy&family=Open+Sans:wght@500&family=Poppins&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=IBM+Plex+Serif:ital,wght@0,500;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@400;600&family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,500;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@400;600&family=Sedgwick+Ave+Display&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home page card corousel*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MsgDirector */
.msgDirectorBanner {
  position: relative;
  text-align: center;
  color: white;
}
.centerMsgDirector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 40px;
  border-radius: 10px;
}
.directorInfo {
  background-color: whitesmoke;
}
/**/
